<tr>
  <td><%= link_to "#{l show.date} - #{h show.name}", show %></td>
  <td><%= l(show.meet_time, :format => :extra_short) %> <%= h show.meet_at %></td>
  <td><%= l(show.end_time, :format => :extra_short) %></td>
  <td><%= h show.description %></td>
  <td><%= h show.people %></td>
</tr>

