<% title "Uk치zky" %>

<table>
  <tr>
    <th>N치zev</th>
    <th>Datum</th>
  </tr>
  <% for show in @shows %>
    <tr>
      <td><%=h show.name %></td>
      <td><%=h show.date %></td>
      <td><%= link_to "Zobrazit", show %></td>
      <td><%= link_to "Editovat", edit_show_path(show) %></td>
      <td><%= link_to "smazat", show, :confirm => 'Opravdu?', :method => :delete %></td>
    </tr>
  <% end %>
</table>

<p><%= link_to "Nov치 uk치zka", new_show_path %></p>

