<% title "Ukázka" %>

<p>
  <strong>Název:</strong>
  <%=h @show.name %>
</p>
<p>
  <strong>Datum:</strong>
  <%=h @show.date %>
</p>

<p>
  <%= link_to "Editovat", edit_show_path(@show) %> |
  <%= link_to "Smazat", @show, :confirm => 'Opravdu?', :method => :delete %> |
  <%= link_to "Zobrazit všechny", shows_path %>
</p>

