<% title "Ukázka" %>

<p>
  <strong>Název:</strong>
  <%=h @show.name %>
</p>
<p>
  <strong>Datum:</strong>
  <%=l @show.date, :format => :long %>
</p>
<ul>
  <li>Sraz v <%= l(@show.meet_time, :format => :extra_short) %>, návrat v <%= l(@show.end_time, :format => :extra_short) %></li>
  <li>Místo srazu: <%= h @show.meet_at %></li>
  <li>Jídlo: <%= food_for(@show) %></li>
  <li>Odměna: <%= reward(@show) %></li>
  <li>Lidí: <%= h @show.people %></li>
  <li>Kontakt: <%= h @show.contact %> </li>
</ul>

<p>
  <%= h @show.description %>
</p>
<p>
  <%= h @show.notes %>
</p>
<p>
  Na ukázku jsou nahlášeni:
  <ol>
  <% for user in @show.users -%>
    <li><%= user.full_name %>(<%= link_to 'Odhlásit', kick_show_path(@show, :user_id => user.id), :confirm => "Opravdu vyhodit #{user.full_name} z ukázky?", :method => :put %>)</li>
  <% end -%>
  </ol>
</p>

<p>
  <%= link_to 'Přihlásit se na ukázku', join_show_path(@show), :method => :post %>
</p>
<p>
  <%= link_to "Editovat", edit_show_path(@show) %> |
  <%= link_to "Smazat", @show, :confirm => 'Opravdu?', :method => :delete %> |
  <%= link_to "Zobrazit všechny", shows_path %>
</p>

