<% title @show.name %>
<% if @show.archived? -%>
<div class="archived_headline slight_padding">
  Tato akce byla archivována
</div>
<% end -%>
<%= h @show.description %>
<span class="slight_padding">
  <%= subscribed_notice @show, current_user %>
</span>
<p>
  <strong>Datum:</strong>
  <%=l @show.date, :format => :long %>
</p>
<ul>
  <li>Sraz v <%= l(@show.meet_time, :format => :extra_short) %>, návrat v <%= l(@show.end_time, :format => :extra_short) %></li>
  <li>Místo srazu: <%= h @show.meet_at %></li>
  <li>Jídlo: <%= food_for(@show) %></li>
  <li>Odměna: <%= reward(@show) %></li>
  <li>Přihlášených lidí: <%= h show_subscribed_count(@show) %></li>
  <li>Vedoucí: <%= h @show.contact %> </li>
</ul>
<h2>Poznámky</h2>
<p>
  <%= RedCloth.new(@show.notes).to_html %>
</p>
<p>
  Na akci jsou nahlášeni:
  <ol>
  <% for subscription in @show.subscriptions.subscribed -%>
    <li><%= subscription.user.full_name %>
    <% if can? :kick, @show -%>
    (<%= link_to 'Odhlásit', kick_show_path(@show, :user_id => subscription.user.id), :confirm => "Opravdu vyhodit #{subscription.user.full_name} z ukázky?", :method => :put %>)
    <% end -%>
    </li>
  <% end -%>
  </ol>
</p>
<p>
  Nepojedou:
  <ol>
  <% for subscription in @show.subscriptions.not_subscribed -%>
    <li><%= subscription.user.full_name %>
    <% if subscription.user == current_user -%>
    (<%= link_to 'Rozmyslel sem si to', kick_show_path(@show, :user_id => subscription.user.id), :method => :put %>)
    </li>
    <% end -%>
  <% end -%>
  </ol>
</p>

<p>
<% unless @show.archived? -%>
 <% unless current_user.shows.exists? @show -%>
  <%= link_to 'Přihlásit se na akci', join_show_path(@show, :subscribed => 'true'), :method => :post, :confirm => 'Jste si jisti? Z ukázky Vás bude moci odhlásit pouze vedoucí' %> |
  <%= link_to 'Na tuto ukázku nemohu jet', join_show_path(@show, :subscribed => 'false'), :method => :post %>
  <% end -%>
</p>

<p>
<% if can? :manage, Show -%>
  <%= link_to "Editovat", edit_show_path(@show) %> |
  <%= link_to 'Archivovat', archive_show_path(@show), :confirm => 'Opravdu archivovat?', :method => :put %> |
  <%= link_to "Smazat", @show, :confirm => 'Opravdu smazat?', :method => :delete %> |
<% end -%>

<% end -%>
  <%= link_to "Zobrazit všechny aktuální akce", shows_path %>
</p>

