<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <title><%= yield(:title) || "Untitled" %></title>
    <%= stylesheet_link_tag 'application', 'formtastic', 'formtastic_changes' %>
    <%= javascript_include_tag :defaults %>
    <%= csrf_meta_tag %>
    <%= yield(:head) %>
  </head>
  <body>
    <div id="container">
      <% if current_user %>
        <div id="navigation">
          <%= link_to "Aktuální akce", shows_path %> 
          | <%= link_to "Proběhlé akce", archived_shows_path %>
          <% if can?(:index, :stats) %>
          | <%= link_to "Statistiky", stats_path %>
          <% end %>
          | <%= link_to "Moje statistiky", stats_user_path(current_user) %>
        </div>
      <% end %>
      <div id="login_box">
        <% if logged_in? %>
          <%= current_user.full_name %>
          <%= link_to "Odhlásit", logout_path %>
        <% end %>
      </div>

      <%- flash.each do |name, msg| -%>
        <%= content_tag :div, msg, :id => "flash_#{name}" %>
      <%- end -%>

      <%- if show_title? -%>
        <h1><%=h yield(:title) %></h1>
      <%- end -%>

      <%= yield %>
    </div>
  </body>
</html>

